h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0 0 16px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-family: $font-title;
  font-size: 24px;
  line-height: 1.1 !important;
  a {
    color: $color-1;
    text-decoration: none;
  }
}

.heading,
.subheading {
  margin-bottom: 10px;
  line-height: 1.1;
}

.heading {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}
.subheading {
  font-size: 18px;
  color: $color-1;
}

.btn,
a {
  transition: 0.1s ease-in-out all;
}

.btn {
  font-weight: bold;
  background-color: $color-1;
  border: 2px solid $color-1;
  border-radius: 20px;
  color: #fff;
  padding: 5px 15px 6px;
  cursor: pointer;
  &:hover {
    background-color: $color-1-hov;
  }
  &:disabled {
    background-color: $color-disabled;
    border-color: $color-disabled;
    &:hover {
      background-color: $color-disabled;
    }
  }
}
.btn-2 {
  @extend .btn;
  background-color: #fff;
  color: $color-1;
  &:hover {
    background-color: $color-1-lt;
  }
  &:disabled {
    background-color: #fff;
    border-color: $color-disabled;
    color: $color-disabled;
    &:hover {
      background-color: #fff;
    }
  }
}
[class*='btn'] {
  &.sm {
    padding: 2px 8px 3px;
  }
  &.svg {
    > * {
      position: relative;
      top: 2px;
      stroke-width: 3px;
      width: 13px;
      height: 13px;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.flag {
  background-color: $color-2;
  color: $color-1;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  padding: 4px 8px;
  border-radius: $bd-r-1;
}

.alert {
  position: fixed;
  top: $header-h + 20px;
  right: 20px;
  max-width: 500px;
  background-color: rgba($color-1, 0.9);
  color: #fff;
  font-size: 16px;
  padding: 6px 12px 6px 8px;
  border-radius: $bd-r-1;
  z-index: 9999;
  svg {
    width: 20px;
    flex: 0 0 auto;
    stroke-width: 2px;
  }
}

table {
  border-collapse: collapse;
}
.table-heading {
  td,
  th {
    font-weight: bold;
    background-color: $th-bg-color;
  }
}
td,
th {
  background-color: #fff;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  padding: $cell-pad;
  text-align: left;
  &:first-of-type {
    min-width: 120px;
  }
  &:last-of-type {
    border-right: 1px solid $border-color;
    border-left: 3px solid $border-color;
  }
}
tr {
  &:not(:first-of-type) {
    td:first-of-type {
      background-color: $column-heading-color;
    }
  }
  &:last-of-type {
    td {
      border-top: 3px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }
}
