.day-display {
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

.nav-btns {
  margin-top: 5px;
}

.action-btns {
  position: absolute;
  top: -10px;
  right: 0;
}

.no-entries {
  background-color: #fff;
  border-right: 1px solid $border-color;
  text-align: center;
}

table {
  border-collapse: collapse;
}
.table-heading {
  td {
    font-weight: bold;
    background-color: #eee;
  }
}
th:first-of-type {
  min-width: 180px;
}
tr:first-of-type {
  th {
    border-bottom: 2px solid $border-color;
    &:last-of-type {
      border-right: 1px solid $border-color;
    }
  }
}
tr:last-of-type {
  th,
  td {
    border-bottom: 1px solid $border-color;
  }
}
td {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  padding: $cell-pad;
  &:last-of-type {
    border-right: 1px solid $border-color;
  }
  a {
    cursor: pointer;
  }
}
.food-options {
  tr th.select a {
    font-weight: bold;
    color: $color-1-hov;
    &:hover {
      color: $color-1;
    }
  }
  tr th.select {
    .icon {
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }
    .plus {
      display: none;
    }
    &:hover {
      .plus {
        display: block;
        color: $color-green;
      }
    }
  }
  tr th.selected {
    background-color: $color-1-hov !important;
    a {
      color: #fff;
      &:hover {
        color: $color-1-lt;
      }
    }
    .gray {
      color: #ccc;
    }
    .minus {
      display: none;
    }
    &:hover {
      .check {
        display: none;
      }
      .minus {
        display: block;
        color: $color-red;
      }
    }
  }
}
.food-options tr:not(:first-of-type) {
  th {
    padding: 0;
    &:first-of-type {
      background-color: $color-1-lt;
    }
  }
  a {
    flex: 1 1 auto;
    padding: $cell-pad;
    > * {
      pointer-events: none;
    }
  }
}
.servings {
  font-size: 12px;
  font-weight: normal;
}
.food-selected {
  tr:not(:first-of-type) {
    th:first-of-type {
      background-color: $color-1-lt;
    }
  }
}
#totals {
  th,
  td {
    border-top: 2px solid $border-color;
    background-color: $color-2-hov;
    font-weight: bold;
  }
  th {
    background-color: $color-2;
  }
}
input.portion {
  width: 25px;
  height: 80%;
}
