$border-color: #aaa;
$cell-pad: 5px 10px;
$column-heading-color: #e3eafc;

.day-display {
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

.nav-btns {
  margin-top: 5px;
}

.action-btns {
  position: absolute;
  top: -10px;
  right: 0;
}

table {
  border-collapse: collapse;
}
.table-heading {
  td {
    font-weight: bold;
    background-color: #eee;
  }
}
td {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  padding: $cell-pad;
  &:first-of-type {
    min-width: 180px;
  }
  &:last-of-type {
    border-right: 1px solid $border-color;
  }
  a {
    cursor: pointer;
  }
}
.food-options {
  tr td.select a {
    font-weight: bold;
    color: $color-1-hov;
    &:hover {
      color: $color-1;
    }
  }
  tr td.select {
    .icon {
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }
    .plus {
      display: none;
    }
    &:hover {
      .plus {
        display: block;
        color: $color-green;
      }
    }
  }
  tr td.selected {
    background-color: $color-1-hov !important;
    a {
      color: #fff;
      &:hover {
        color: $color-1-lt;
      }
    }
    .gray {
      color: #ccc;
    }
    .minus {
      display: none;
    }
    &:hover {
      .check {
        display: none;
      }
      .minus {
        display: block;
        color: $color-red;
      }
    }
  }
}
.food-options tr:not(:first-of-type) {
  td:first-of-type {
    padding: 0;
  }
  a {
    flex: 1 1 auto;
    padding: $cell-pad;
    > * {
      pointer-events: none;
    }
  }
}
.food-selected .portion {
  font-size: 12px;
  font-weight: normal;
}
#totals {
  td {
    border-top: 2px solid $border-color;
    background-color: $color-2-hov;
    font-weight: bold;
    &:first-of-type {
      background-color: $color-2;
    }
  }
}
#summary {
  border-top: 2px solid $border-color;
  background-color: #f6e6fc;
  td {
    &:first-of-type {
      background-color: #f0d4fa;
    }
  }
}
input.portion {
  width: 25px;
  height: 80%;
}
