$font-main: Inter, Avenir, Helvetica, Arial, sans-serif;
$font-title: Pacifico, #{$font-main};

$border-color: gray;
$cell-pad: 5px 10px;
$column-heading-color: #e3eafc;
$th-bg-color: #eee;
$td-active-bg-color: #fcf4d4;
$color-success: #e7ffed;
$color-fail: #ffe7e7;

$color-1: #324ca8;
$color-1-hov: #5e7adb;
$color-1-lt: lighten($color-1, 47%);
$color-2: #ffe8ad;
$color-2-hov: #fff1cc;
$color-3: #d2faec;
$color-red: lighten(red, 20%);
$color-green: lighten(green, 15%);
$color-disabled: #ccc;

$header-h: 55px;

$bd-r-1: 5px;
